body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #E6E8E6;
  padding: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}
.img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.old {
  text-decoration: line-through;
  color: gray;
}

.new {
  color: #3A6EA5;
  font-weight: bold;
}